.main-navbar {
    background-color: var(--mat-sys-primary);
    height: var(--mat-sys-display-medium-line-height);

    position: fixed;
    z-index: var(--highest-z) !important;

    // padding: 10px;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // text-align: center;

    .sidebar-button {
        color: var(--mat-sys-primary-container);
        padding-left: 10px;
        cursor: pointer;
    }

    .menu-ul {
        display: flex;
        list-style-type: "";

        li {
            margin: 0px 13px;
            color: var(--mat-sys-primary-container);
            font-size: var(--mat-sys-title-medium-size);
            cursor: pointer;

        }

    }

    .name-title {
        padding-left: 13px;
        color: var(--mat-sys-primary-container);
    }

    .brand-logo {
        cursor: pointer;
    }
}

::ng-deep .responsive-menu {
    background: var(--mat-sys-primary) !important;
    background-color: var(--mat-sys-primary) !important;

    span {
        color: var(--mat-sys-primary-container) !important;
    }

    .mat-icon,
    .menu-button {
        color: var(--mat-sys-primary-container) !important;

    }

}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar-shadow {
    // height: 70px;
    // // box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    // box-shadow: var(--mat-sys-level5);
    // transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    height: var(--mat-sys-display-medium-line-height);
    box-shadow: var(--mat-sys-level2);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}