.main-navbar {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    .sidebar-button {
        color: var(--secondary-color);
        padding-left: 10px;
    }

    .menu-ul {
        display: flex;
        list-style-type: "";

        li {
            margin: 0px 13px;
            color: var(--secondary-color);
            font-size: smaller;
        }

    }
}

.example-spacer {
    flex: 1 1 auto;
}