<mat-toolbar [@animateMenu] class="main-navbar">
    <a>
        <img class="brand-logo" src="./assets/logo.svg" alt="logo" aria-hidden="true" />
    </a>
    <!-- TODO: Don't show button if not necessary -->
    <button mat-icon-button class="sidebar-button" aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <!-- TODO: Hide this menu if necessary (i.e. is mobile) -->
    <ul class="menu-ul">
        <li>
            <a><span>About Me</span></a>
        </li>
        <li>
            <a><span>Experience</span></a>
        </li>
        <li>
            <a><span>Education</span></a>
        </li>
        <li>
            <a><span>Projects</span></a>
        </li>
        <li>
            <a><span>Publications</span></a>
        </li>
        <li>
            <a><span>Contact</span></a>
        </li>
    </ul>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->

</mat-toolbar>
<mat-menu #menu="matMenu" class="responsive-menu">
    <button mat-menu-item class="menu-button">
        <!-- <mat-icon>dialpad</mat-icon> -->
        <a><span>About Me</span></a>
    </button>
    <button mat-menu-item class="menu-button">
        <!-- <mat-icon>voicemail</mat-icon> -->
        <a><span>Experience</span></a>
    </button>
    <button mat-menu-item class="menu-button">
        <!-- <mat-icon>notifications_off</mat-icon> -->
        <a><span>Education</span></a>
    </button>
    <button mat-menu-item class="menu-button">
        <a><span>Projects</span></a>
    </button>
    <button mat-menu-item class="menu-button">
        <a><span>Publications</span></a>
    </button>
    <button mat-menu-item class="menu-button">
        <a><span>Contact</span></a>
    </button>
</mat-menu>