<div class="footer">
    <div [@animateFooter] *ngIf="leftBarVisible">
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/arbertrary" target='_blank'>
                    <i class="fab fa-github"></i>
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/abernstetter/" target='_blank'>
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://scholar.google.de/citations?user=MvbBAFwAAAAJ&hl=de" target='_blank'>
                    <fa-icon [icon]="faGoogleScholar"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://orcid.org/0000-0003-1603-1699" target='_blank'>
                    <fa-icon [icon]="faOrcid"></fa-icon>
                </a>
            </li>
        </ul>
        <!-- <div class="footer-right-bar d-none d-md-block">
            <a href="mailto:andresjosehr@gmail.com" target='_blank'>andresjosehr&#64;gmail.com </a>
        </div> -->
    </div>

    <div class="footer-credits text-center">
        <ul class="bottomIcons" *ngIf="!leftBarVisible">
            <li>
                <a href="https://github.com/arbertrary" target='_blank'>
                    <i class="fab fa-github"></i>
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/abernstetter/" target='_blank'>
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://scholar.google.de/citations?user=MvbBAFwAAAAJ&hl=de" target='_blank'>
                    <fa-icon [icon]="faGoogleScholar"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://orcid.org/0000-0003-1603-1699" target='_blank'>
                    <fa-icon [icon]="faOrcid"></fa-icon>
                </a>
            </li>
        </ul>
        <div>Built with Angular by Armin Bernstetter</div>
        <fa-icon [icon]="faAngular"></fa-icon>

        <!-- <a href="https://github.com/andresjosehr/andresjosehr-portfolio" target="_blank"
            rel="nofollow noopener noreferrer">
            <fa-icon [icon]="faAngular"></fa-icon>
            <div>Built with Angular by Armin BernstetterJose Andres</div>
        </a> -->
        <a href="https://github.com/andresjosehr/andresjosehr-portfolio" target="_blank"
            rel="nofollow noopener noreferrer">
            <div>Inspired by Jose Andres</div>
        </a>
    </div>

</div>