.projects {
    // padding: 2rem;

    .container {
        display: table;
        height: 100vh;
        margin: auto;
    }

    // .projects-section {
    //     padding: 2rem;
    // }

    h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    // .projects-grid {
    //     padding-top: 2rem;
    //     display: grid;
    //     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    //     /* Responsive grid */
    //     gap: 2rem;
    //     /* Space between tiles */
    // }
    .projects-grid {
        padding-top: 2rem;
        display: grid;

        /* Limit the maximum width and center the grid */
        max-width: 1200px;
        /* Adjust based on your design */
        margin: 0 auto;
        /* Centers the grid horizontally */

        /* Limit to a maximum of 3 columns */
        grid-template-columns: repeat(3, minmax(0, 1fr));

        /* Space between tiles */
        gap: 2rem;
    }

    @media (max-width: 1024px) {
        .projects-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @media (max-width: 768px) {
        .projects-grid {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }


    .project-tile {
        background-color: var(--mat-sys-surface);
        border: 1px solid var(--mat-sys-surface-container-highest);
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .project-tile:hover {
        transform: translateY(-5px);
        /* Lift effect */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .project-tile h3 {
        margin: 0 0 1rem;
        font-size: 1.5rem;
        color: #333;
    }

    .project-tile p {
        margin: 0 0 1rem;
        color: var(--mat-sys-outline);
        ;
    }

    .technologies-used {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .technologies-used li {
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-primary);
        padding: 0.25rem 0.75rem;
        border-radius: 4px;
        font-size: 0.875rem;
    }

    .thumbnail {
        border-radius: 2px;
        width: 100%;
        transform-origin: top left;
    }

    .thumbnail:hover {
        transform: scale(2.5);
        border: 1px solid var(--mat-sys-primary);
    }
}