<section class="section projects" id="projects">
    <!-- <div id="test-fragment"></div> -->
    <div class="container">
        <div class="section-box">
            <h3 class="section-title">
                <span>Projects</span>
            </h3>
            <!-- <a [routerLink]="[]" fragment="test-fragment">Testlink</a>
            <div *ngIf="showAdditionalContent">
                <p>You were linked directly to the 'projects' section!</p>
            </div> -->
            <div class="projects-grid">
                <div class="project-tile">
                    <h3>Virtual Fieldwork in Unreal Engine</h3>
                    <p class="description"><span class="highlight-text">Unreal Engine</span> project for immersive
                        virtual fieldwork, visualizing 3D photogrammetry models of the seafloor</p>
                    <p class="description">Built for head-mounted display <span class="highlight-text">VR</span> and the
                        <span class="highlight-text"><a href="https://www.geomar.de/en/arena">ARENA2</a></span>, a
                        spatially
                        immersive projection dome
                    </p>
                    <p>
                        <img class="thumbnail" src="assets/img/arena.jpg">
                    </p>
                    <p>
                        <a href="https://git.geomar.de/arena/unreal-development/virtualfieldwork" target='_blank'>
                            <i class="fab fa-gitlab"></i>
                            <fa-icon [icon]="faGitlab" size="xl"></fa-icon>
                        </a>
                    </p>
                    <ul class="technologies-used">
                        <li>Unreal Engine</li>
                        <li>VR</li>
                        <li>Virtual Production</li>
                        <li>Photogrammetry</li>
                        <li>Visualization</li>
                    </ul>
                </div>
                <div class="project-tile">
                    <h3>The Digital Lab Book</h3>
                    <p class="description">Web-application built in <span class="highlight-text">Angular</span> with a
                        <span class="highlight-text">Python Flask</span> backend
                    </p>
                    <p class="description">A provenance visualization and management tool for immersive and
                        collaborative visual analytics</p>
                    <p class="description">Connects to a visualization application (e.g. Unreal Engine) via <span
                            class="highlight-text">REST API</span> and tracks interaction and
                        visualization states</p>
                    <p class="description">Allows history management (undo/redo), organization of observations in a
                        mind-map, annotation of interaction steps, and git actions such as branching</p>
                    <p class="description">Overview video: <a
                            href="https://youtu.be/SuQaYorDuTU">https://youtu.be/SuQaYorDuTU</a></p>
                    <p>
                        <a href="https://git.geomar.de/digital-lab-book/digital-lab-book" target='_blank'>
                            <i class="fab fa-gitlab"></i>
                            <fa-icon [icon]="faGitlab" size="xl"></fa-icon>
                        </a>
                    </p>
                    <ul class="technologies-used">
                        <li>Python</li>
                        <li>Flask</li>
                        <li>TypeScript</li>
                        <li>Angular</li>
                        <li>CI/CD</li>
                    </ul>
                </div>
                <div class="project-tile">
                    <h3>ARENA2 ROV Previsualization</h3>
                    <p class="description"><span class="highlight-text">Unreal Engine</span> project for the <a
                            href="https://www.geomar.de/en/arena">ARENA2</a> as previsualization demo for a new remotely
                        operated vehicle (ROV) and deep-towed undersea camera sled for photogrammetry</p>
                    <p class="description">Preview video: <a
                            href="https://youtu.be/R_I8qIaQZmE">https://youtu.be/R_I8qIaQZmE</a></p>
                    <ul class="technologies-used">
                        <p>
                            <img class="thumbnail" src="assets/img/deepseademo.jpg">
                        </p>
                        <li>Unreal Engine</li>
                        <li>Virtual Production</li>
                        <li>Photogrammetry</li>
                        <li>Visualization</li>
                    </ul>
                </div>
                <div class="project-tile">
                    <h3>Angular MindMap</h3>
                    <p class="description">A simple MindMap implemented in <span class="highlight-text">Angular</span>
                    </p>
                    <p>
                        <img class="thumbnail" src="assets/img/angularmm.jpg">
                    </p>
                    <p class="description">Demo: <span class="highlight-text"><a
                                href="https://www.arbertrary.dev/angular-mindmap/">arbertrary.dev/angular-mindmap/</a></span>
                    </p>
                    <p> <a href="https://github.com/arbertrary/angular-mindmap" target='_blank'>
                            <i class="fab fa-github"></i>
                            <fa-icon [icon]="faGithub" size="xl"></fa-icon>
                        </a></p>
                    <ul class="technologies-used">
                        <li>Angular</li>
                        <li>TypeScript</li>
                        <li>HTML/CSS</li>
                    </ul>
                </div>
                <div class="project-tile">
                    <h3>Semantic Change Detection (on Twitch.tv chat messages)</h3>
                    <p class="description">Master thesis source code (2021)</p>
                    <p class="description">Investigated the changes in the meaning of words over time and different
                        domains on a text corpus of <span class="highlight-text">Twitch.tv</span> chat messages</p>
                    <p class="description">Found semantic chang in words related to the Covid-19 pandemic (dataset
                        spanning 2019-2021)</p>
                    <p class="description">Found domain-specific semantic change between different <span
                            class="highlight-text">Twitch.tv</span> stream
                        categories</p>
                    <p>
                        <a href="https://github.com/arbertrary/twitch_semantic_change" target='_blank'>
                            <i class="fab fa-github"></i>
                            <fa-icon [icon]="faGithub" size="xl"></fa-icon>
                        </a>
                    </p>
                    <ul class="technologies-used">
                        <li>Python</li>
                        <li>Kubernetes</li>
                        <li>Docker</li>
                    </ul>
                </div>
                <div class="project-tile">
                    <h3>Fine-Tuning GPT-2</h3>
                    <p class="description">Programming Project during M.Sc. (2019)</p>
                    <p class="description">Programmed a web‑crawler for a german internet forum</p>
                    <p class="description">Fine-tuned a small <span class="highlight-text">GPT-2</span> model to be able
                        to complete prompts in
                        the German language</p>
                    <p>
                        <a href="https://github.com/arbertrary/MScProject_GPT2" target='_blank'>
                            <i class="fab fa-github"></i>
                            <fa-icon [icon]="faGithub" size="xl"></fa-icon>
                        </a>
                    </p>
                    <ul class="technologies-used">
                        <li>Python</li>
                        <li>Pytorch</li>
                        <li>Kubernetes</li>
                        <li>Docker</li>
                    </ul>
                </div>
                <div class="project-tile">
                    <h3>Decker</h3>
                    <p class="description">While not a personal project, I am proud to have contributed to the software
                        <span class="highlight-text">Decker,</span> a markdown based tool for slide deck creation based
                        on <span class="highlight-text">Pandoc</span> and <span class="highlight-text">Reveal.js</span>
                    </p>
                    <p class="description">Presentation created in Decker: <span class="highlight-text"><a
                                href="https://abernstetter.pages.geomar.de/eurova2023/inperson-talk-deck.html">EuroVA
                                2023
                                Talk</a></span></p>
                    <p>
                        <a href="https://github.com/decker-edu/decker" target='_blank'>
                            <i class="fab fa-github"></i>
                            <fa-icon [icon]="faGithub" size="xl"></fa-icon>
                        </a>
                    </p>
                    <ul class="technologies-used">
                        <li>Haskell</li>
                        <li>JavaScript</li>
                        <li>HTML/CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>