<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>Hello! My name is</h1>
                </div>
                <div class='banner-title'>
                    <h2>Armin Bernstetter.</h2>
                    <h3>Computer Scientist & Software Developer</h3>
                </div>
                <div class='banner-description'>
                    <p>I have
                        <span class="highlight-text">
                            6 years of experience
                        </span>
                        working in research and software development and an
                        <span class="highlight-text">M.Sc. in Computer Science.</span>
                    </p>
                    <!-- <p>I am passionate about building innovative solutions that are not just as ends in themselves but to drive even small progress in research, society, and environment.</p> -->
                    <p>I am passionate about my goal of creating <span class="highlight-text">innovative
                            solutions</span> that go beyond being ends in
                        themselves, aiming to contribute to meaningful <span class="highlight-text">progress</span> in
                        research, society, and the environment.</p>
                    <p>Explore my page to learn more about me, my projects, and my scientific publications and
                        interests!</p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a href="mailto:mail@arbertrary.dev" target="_black" class="main-btn highlight-text">Contact Me </a>
            </div>
        </div>
    </div>
</section>