.banner {
    min-height: 100vh;

    .container {
        display: table;
        height: 100vh;
        margin: auto;

        .section-box-banner {
            display: table-cell;
            vertical-align: middle;

            // .content {
            //     margin-top: 98px;
            // }

            h1 {

                color: var(--mat-sys-primary);
                margin: 0 0 20px 3px;
                font-weight: normal;
            }

            // h2,
            // h3 {
            //     font-weight: 600;
            //     line-height: 1.1;
            //     margin: 0;
            // }

            h2 {
                font-size: var(--mat-sys-display-large-size);
                color: var(--mat-sys-secondary);
                ;
            }

            h3 {
                font-size: var(--mat-sys-display-medium-size);
                color: var(--mat-sys-secondary);
            }

            .banner-description {
                margin-bottom: 70px;
            }

            p {
                max-width: 500px;
                // color: var(--mat-sys-on-surface);
            }

            .div-btn-banner {
                height: 43px;
            }
        }


    }
}