<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>Hello! My name is</h1>
                </div>
                <div class='banner-title'>
                    <h2>Armin Bernstetter.</h2>
                    <h3>Computer Scientist & Software Developer</h3>
                </div>
                <div class='banner-description'>
                    <p>I have
                        <span class="highlight-text">
                            6 years of experience
                        </span>
                        working in research and software development together with an
                        <span class="highlight-text">M.Sc. in Computer Science.</span>
                    </p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a href="mailto:mail@arbertrary.dev" target="_black" class="main-btn highlight-text">Contact Me </a>
            </div>
        </div>
    </div>
</section>