/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  /* background-color: var(--secondary-color); */
  background-color: var(--mat-sys-surface);
}

:root {
  /* --primary-color: #50A;
  --secondary-color: #DAF;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8; */
  --highest-z: 10;
  --high-z: 8;
  --middle-high-z: 6;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--mat-sys-primary);
  background: var(--mat-sys-primary);
  color: white;
  border-radius: 8px;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Highlight Underline Animation: https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
.highlight-text {
  /* text-decoration: none; */
  display: inline-block;
  position: relative;
  color: var(--mat-sys-primary);
}

.highlight-text.onDark {
  color: var(--mat-sys-primary-container);
}

.highlight-text::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: var(--mat-sys-primary);

}

.highlight-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.highlight-text.onDark::after {
  background-color: var(--mat-sys-primary-container);
}



.main-btn {
  color: var(--mat-sys-primary);
  background-color: transparent;
  border: 1px solid var(--mat-sys-primary);
  border-radius: 3px;
  font-size: var(--mat-sys-body-medium-size);
  line-height: 1;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1.25rem 1.75rem;

}

.section-box {
  padding: 130px 0;
  display: table-cell;
  vertical-align: middle;
}

.section-title {
  color: var(--mat-sys-secondary);
  font-size: var(--mat-sys-headline-small-size);
}


.description {
  color: var(--mat-sys-outline);
}

h2,
h3 {
  color: var(--mat-sys-neutral-variant20);
}