<section class="section about" id="about">
    <div class="container">
        <div class="section-box">
            <h3 class="section-title">
                <span>About Me</span>
            </h3>

            <!-- About Me Content -->
            <div class="about-grid">
                <!-- First Row -->
                <img src="assets/img/speaking.jpg" alt="About me photo 1" class="photo" />
                <div class="text description">
                    <p>I am employed at <span class="highlight-text" style>GEOMAR Helmholtz Centre for Ocean Research
                            Kiel</span> through <a href="https://www.mardata.de"><span class="highlight-text">MarDATA
                                Helmholtz School for Marine Data Science</span></a></p>
                    <p>My PhD project at GEOMAR focusses on
                        the topic of
                        provenance of immersive visualization workflows.</p>
                </div>

                <!-- Second Row -->

                <div class="text description">
                    <p>
                        I am working with the Unreal Engine to create immersive tools for interactive data
                        visualization, both in Head-Mounted Display VR as well as spatially immersive
                        environments.</p>

                    <p>This also led me to gain experience with Virtual Production using Unreal Engine, nDisplay, and
                        multi-projection technology.</p>
                    <p>Previously my work- and education-related interest and experience has been mostly in functional
                        programming and natural language processing.</p>
                </div>
                <img src="assets/img/application.jpg" alt="About me photo 2" class="photo" />

                <!-- Third Row -->
                <img id="lastImage" src="assets/img/private.jpg" alt="About me photo 2" class="photo" />
                <div class="text description">
                    <p>In my free time I am interested in a lot of different things. Topics on which I could probably
                        hold a spontaneous, improvised 30 min talk include:</p>
                    <!-- <p> -->
                    <ul>
                        <li>The 1001 Ways to brew Coffee</li>
                        <li>The incredible Worldbuilding of Brandon Sanderson's Cosmere</li>
                        <li>Bouldering and why all Programmers seem to love it</li>
                        <li>Why there are so many different guitars and what you can do with them!</li>
                    </ul>
                    <!-- </p> -->
                </div>
            </div>

            <!-- Skills Section -->
            <div class="skills">
                <h3 class="section-title">Skills & Technologies</h3>
                <div class="icons">
                    <fa-icon [icon]="faAngular" title="Angular"></fa-icon>
                    <fa-icon [icon]="faJs" title="JavaScript"></fa-icon>
                    <fa-icon [icon]="faPython" title="Python"></fa-icon>
                    <fa-icon [icon]="faFlask" title="Flask"></fa-icon>
                    <!-- <fa-icon [icon]="faHtml5" title="HTML5"></fa-icon>
            <fa-icon [icon]="faCss3" title="CSS3"></fa-icon> -->
                    <!-- Add more icons as needed -->
                </div>
            </div>
        </div>
    </div>
</section>