<section class="section about" id="about">
    <div class="container">
        <div class="section-box">
            <h3 class="section-title">
                <span>About Me</span>
            </h3>

            <!-- About Me Content -->
            <div class="about-grid">
                <!-- First Row -->
                <img src="assets/img/speaking.jpg" alt="About me photo 1" class="photo" />
                <div id="firstText" class="text description">
                    <p>I am currently employed at <span class="highlight-text" style>GEOMAR Helmholtz Centre for Ocean
                            Research
                            Kiel</span> as a doctoral researcher through the <span class="highlight-text"><a
                                href="https://www.mardata.de">
                                Helmholtz School for Marine Data Science (MarDATA).</a></span></p>
                    <p>In my PhD project at GEOMAR I investigate how <span class="highlight-text">geoscientists</span>
                        use interactive and immersive
                        <span class="highlight-text">3D data visualization</span> and how these workflows can lead to
                        reproducible results and insights.
                    </p>
                    <p>
                        I am working with the <span class="highlight-text">Unreal Engine</span> to create immersive
                        tools for interactive
                        visualization, both in <span class="highlight-text">VR</span> as well as
                        spatially immersive multi-projection
                        environments using <span class="highlight-text">Virtual Production</span> technology.
                        <!-- <br>
                        <span class="highlight-text"><a href="#projects">> Projects</a></span> -->
                    </p>

                </div>

                <!-- Second Row -->

                <div class="text description">
                    <p>Previously my interest and experience has been mostly in <span class="highlight-text">functional
                            programming</span> and <span class="highlight-text">natural language processing,</span>
                        where I have worked with <span class="highlight-text">Haskell,</span>&nbsp;<span
                            class="highlight-text">Scala,</span> and <span class="highlight-text">Python,</span>
                        my "daily driver" programming language.</p>
                    <p>I have worked with machine learning pipelines on high-performance computing
                        clusters using <span class="highlight-text">CI/CD,</span>&nbsp;<span
                            class="highlight-text">Docker,</span> and <span class="highlight-text">Kubernetes.</span>
                    </p>
                    <p>My tech stack is rounded out by <span class="highlight-text">Web development</span> experience
                        using <span class="highlight-text">Angular</span> and <span class="highlight-text">Python
                            Flask.</span></p>
                </div>
                <img src="assets/img/application.jpg" alt="About me photo 2" class="photo" />

                <!-- Third Row -->
                <img id="lastImage" src="assets/img/private.jpg" alt="About me photo 2" class="photo" />
                <div class="text description">
                    <p>In my free time I am interested in a lot of different things. Topics on which I could probably
                        hold a spontaneous, improvised 30 min talk include:</p>
                    <!-- <p> -->
                    <div class="icon-list">
                        <p><fa-icon [icon]="faCoffee" [fixedWidth]="true"></fa-icon><span>1001 ways to brew
                                coffee!</span></p>
                        <p><fa-icon [icon]="faScroll" [fixedWidth]="true"></fa-icon><span>The incredible worldbuilding
                                of
                                Brandon
                                Sanderson's
                                Cosmere!</span></p>
                        <p><fa-icon [icon]="faProgrammer" [fixedWidth]="true"></fa-icon><span>Bouldering and why all
                                programmers seem to
                                love it!</span>
                        </p>
                        <p><fa-icon [icon]="faGuitar" [fixedWidth]="true"></fa-icon><span>Why there are so many
                                different guitars and what
                                you
                                can do with them!</span></p>
                        <p><fa-icon [icon]="faFood" [fixedWidth]="true"></fa-icon><span>Why going plant-based could save
                                the planet!</span></p>
                    </div>
                    <!-- </p> -->
                </div>
            </div>

            <!-- Skills Section -->
            <!-- <div class="skills">
                <h3 class="section-title">Skills & Technologies</h3>
                <div class="icons">
                    <div class="logo" *ngFor="let b of brands">
                        <img [src]="b.path" alt="{{b.name}}">
                        <span>{{b.name}}</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>