<section class="section contact" id="contact">
    <div class="container">
        <div class="section-box">
            <h3 class="section-title">
                <span>Contact</span>
            </h3>
            <div class="contact-text">
                <p class="description">Thank you for checking out my site.
                    <br>
                    If you want to collaborate, discuss a project, or have an opportunity
                    in mind, feel free to reach out!
                    You can connect with me on LinkedIn or send me an email!
                    <br>
                    I’m always excited to explore new ideas and possibilities!
                </p>
            </div>
            <div class="contact-actions">
                <a href="https://www.linkedin.com/in/abernstetter" target="_blank">
                    <fa-icon class="big-icon" [icon]="faLinkedin" size="4x"></fa-icon>
                </a>
                <a href="mailto:mail@arbertrary.dev" target="_black">
                    <fa-icon class="big-icon" [icon]="faMail" size="4x"></fa-icon></a>

                <fa-icon (click)="scroll('banner')" style="border-radius: 50%;" class="big-icon" [icon]="faUp"
                    size="4x"></fa-icon>
            </div>
            <p>
            </p>
        </div>
    </div>
</section>